.header-height {
    min-height: 60dvh;
}


.aspect-1 {
    aspect-ratio: 1/1;
}

.background-img {
    background-image: url(https://images.unsplash.com/photo-1449157291145-7efd050a4d0e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.background-img2 {
    background-image: url(https://images.unsplash.com/photo-1615873968403-89e068629265?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.border-radius {
    border-radius: 50%;
}

.text-shadow {
    text-shadow: 2px 2px 1px black;
}